.dashboardLayout {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

.content {
  flex: 1;
  overflow-y: auto;
  transition: padding-left 0.3s ease;
  background-color: #f9fafb;

  &.withSidebar {
    padding-left: 260px;
  }

  &.withCollapsedSidebar {
    padding-left: 70px;
  }

  @media (max-width: 768px) {
    padding-left: 0 !important;
  }
} 